.text--link {
  color: #3273DC !important;
}

.btn-primary {
  box-shadow: 0px 4px 8px rgba(50, 115, 220, 0.25) !important;
}

.input-shadow-primary {
  .v-input__control {
    .v-input__slot {
      box-shadow: 0px 4px 8px rgba(50, 115, 220, 0.25) !important;
    }
  }
}